<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/start_page.css">
</head>
<body>
<div class="stage">
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
    <a href="{% url 'shop:main_page' %}" class="layer"></a>
</div>

</body>
</html>
